#include <windows.h>

#include "Strings.h"
#include "Commands.h"
#include "Resources.h"

MANIFEST_VS MANIFEST "../MultiCan.manifest"

ICON_MAIN ICON DISCARDABLE "../Resources/Main.ico"
ICON_DATA ICON DISCARDABLE "../Resources/Data.ico"
ICON_RES ICON DISCARDABLE "../Resources/Res.ico"

MUSIC_CN WAVE DISCARDABLE "../Resources/Music.wav"
MANUAL_RES RCDATA DISCARDABLE "../Resources/Help.chm"
BITMAP_TITLE BITMAP DISCARDABLE "../Resources/Title.bmp"

MENU_MAIN MENU
BEGIN
	POPUP STR_MENU_FILE
	BEGIN
		MENUITEM STR_MENUITEM_NEW, COMID_NEW
		MENUITEM STR_MENUITEM_OPEN, COMID_OPEN
		MENUITEM STR_MENUITEM_SAVE, COMID_SAVE
		MENUITEM STR_MENUITEM_SAVEAS, COMID_SAVEAS
		MENUITEM SEPARATOR
		MENUITEM STR_MENUITEM_EXIT, COMID_EXIT
	END

	POPUP STR_MENU_EDIT
	BEGIN
		MENUITEM STR_MENUITEM_ADDFACT, COMID_ADDFACT
		MENUITEM STR_MENUITEM_DELFACT, COMID_DELFACT
		MENUITEM SEPARATOR
		MENUITEM STR_MENUITEM_ADDSET, COMID_ADDSET
		MENUITEM STR_MENUITEM_DELSET, COMID_DELSET
	END

	POPUP STR_MENU_CALC
	BEGIN
		MENUITEM STR_MENUITEM_CANAN, COMID_CANAN, GRAYED
		MENUITEM SEPARATOR
		MENUITEM STR_MENUITEM_CHDECSEP, COMID_CHDECSEP, GRAYED
	END

	POPUP STR_MENU_HELP
	BEGIN
		MENUITEM STR_MENUITEM_REGEXT, COMID_REGEXT
		MENUITEM STR_MENUITEM_HELP, COMID_SHOWHELP
		MENUITEM SEPARATOR
		MENUITEM STR_MENUITEM_ABOUT, COMID_ABOUT
	END
END

ACCTABLE_MENU ACCELERATORS
BEGIN
	78, COMID_NEW, VIRTKEY,NOINVERT,CONTROL
	79, COMID_OPEN, VIRTKEY,NOINVERT,CONTROL
	83, COMID_SAVEAS, VIRTKEY,NOINVERT,CONTROL,SHIFT
	83, COMID_SAVE, VIRTKEY,NOINVERT,CONTROL
	49, COMID_CANAN, VIRTKEY,NOINVERT,CONTROL
END

DIALOG_DELADD DIALOGEX 75, 50, 100, 55
CAPTION ""
FONT 10, "Arial"
STYLE WS_POPUPWINDOW | WS_CAPTION | WS_VISIBLE
BEGIN
   CONTROL "", DELADD_TEXT_ID, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, 3, 94, 16
   CONTROL "", DELADD_NUMEDIT_ID, "EDIT", ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 3, 22, 94, 12
   CONTROL "Œ ", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 3, 38, 46, 14
   CONTROL "ŒÚÏÂÌ‡", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 49, 38, 46, 14
END

DIALOG_ABOUT DIALOGEX 100, 75, 160, 150
CAPTION ""
FONT 10, "MS Sans Serif"
STYLE WS_POPUPWINDOW | WS_CAPTION | WS_VISIBLE
BEGIN
   CONTROL "", ABOUT_ICON_ID, "STATIC", SS_CENTERIMAGE | SS_ICON | WS_CHILD | WS_VISIBLE, 3, 3, 24, 24
   CONTROL "", ABOUT_PROGINFO_ID, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 30, 3, 119, 24
   CONTROL "", ABOUT_TEXT_ID, "EDIT", ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_CHILD | WS_VSCROLL | WS_VISIBLE | WS_BORDER | WS_GROUP, 3, 30, 154, 100
   CONTROL "Œ ", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 111, 133, 46, 14
END
